*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0f3;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 20px;
    text-align: end;
    padding: 2rem;
    background: #e0e0e0;
    box-shadow: inset 10px 10px 30px #bebebe,
                inset -10px -10px 30px #ffffff;
    height: 3rem;
    width: 270px;
    margin-bottom: 1rem;
    outline: none;
}
.num{
    border: none;
    grid-column: span 4;
    padding: 2px;
    font-size: large;
    padding: 20px;
}
.calculator{
    padding: 50px 20px;
    background: #e0e0e0;
    box-shadow:  10px 10px 25px #bebebe,
                 -10px -10px 25px #ffffff;
    border-radius: 15px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    column-gap: .5rem;
    row-gap: 1rem;
}
button{
    margin: auto;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: .25rem;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  10px 10px 25px #bebebe,
                 -10px -10px 25px #ffffff;
    transition: .4s;
    font-weight: 400;
}
button:focus{
    animation: focus .4s all;
    box-shadow: inset 10px 10px 30px #bebebe,
                inset -10px -10px 30px #ffffff;
}
@keyframes focus{
    100%{
        box-shadow:  10px 10px 25px #bebebe,
        -10px -10px 25px #ffffff; 
    }   
}
